<div class="sponsors">

    {% if SPONSORGOLD %}
    <h2> Gold Sponsors</h2>
    <div class="sponsors-gold">
        <ul>
        {% for name, link, image in SPONSORGOLD %}
            <li><a href="{{ link }}"><img src="{{ image }}" alt="{{ name }}"></a></li>
        {% endfor %}
        </ul>
    </div><!-- /.sponsors-gold -->
    {% endif %}

    {% if SPONSORSILVER %}
    <h2>Silver Sponsors</h2>
    <div class="sponsors-silver">
        <ul>
        {% for name, link, image in SPONSORSILVER %}
            <li><a href="{{ link }}"><img src="{{ image }}" alt="{{ name }}"></a></li>
        {% endfor %}
        </ul>
    </div><!-- /.sponsors-silver -->
    {% endif %}

    {% if SPONSORBRONZE %}
    <h2>Bronze Sponsors</h2>
    <div class="sponsors-bronze">
        <ul>
        {% for name, link, image in SPONSORBRONZE %}
            <li><a href="{{ link }}"><img src="{{ image }}" alt="{{ name }}"></a></li>
        {% endfor %}
        </ul>
    </div><!-- /.sponsors-bronze -->
    {% endif %}

</div>
